.Information__changePassword {
  .information__changePassword__title {
    text-align: center;
    font-size: _font(h3);
    font-weight: _font(weight-bold);
  }
  .ant-row {
    flex-direction: column;
    .ant-form-item-label {
      text-align: left;
      label {
        color: $textWhite;
        font-size: _font(h5);
        font-weight: _font(weight-bold);
        &::after {
          content: "";
        }
      }
    }
    .ant-form-item-control {
      .ant-input-password {
        background: transparent !important;
        border: 1px solid transparent;
        outline: 0;
      }

      .ant-form-item-control-input-content {
        input {
          border: 1px solid transparent;
          background: transparent !important;
          border-bottom: 1px solid rgba(255, 255, 255, 0.5);
          color: $textWhite;
          &*:focus {
            outline: none;
          }
        }
      }
    }
  }
  .information__changePass__btn {
    display: flex;
    justify-content: center;
    button {
      padding: 10px 90px;
      cursor: pointer;
      background: $primary-color;
      color: $textWhite;
      border-radius: 5px;
      border: 1px solid transparent;
      font-size: _font(h6);
      font-weight: _font(weight-bold);
      transition: 0.5s;
    }
    button:hover {
      opacity: 0.9;
    }
  }
}
